version: 2
jobs:
  build:
    branches:
      only:
        - master
    docker:
      - image: andthensome/alpine-hugo-git-bash
    steps:
      - checkout
      - run:
          name: upgrade hugo
          command: |
            apk update && apk add ca-certificates && update-ca-certificates && apk add openssl && apk add openssh-client
            wget https://github.com/gohugoio/hugo/releases/download/v0.50/hugo_0.50_linux-64bit.tar.gz
            tar xzf hugo_0.50_linux-64bit.tar.gz -C /usr/local/bin/ 
      - run:
          name: git config
          command: |
            git config --global user.email "chienhedspi@gmail.com"
            git config --global user.name "chienkira"
            mkdir -p ~/.ssh
            touch ~/.ssh/config
            echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
      - run:
          name: build site and push to github-pages
          command: sh publish.sh
